{% extends "layouts/base.html" %}
{% load static %}

{% load widget_tweaks %}
{% block title %} Config {% endblock title %}


{% block content %}

        <div class="btn-content">
        <div class="row">
            <div class="col-md-4">
                <button class="larg-btn">
                    <a href="/createconfig/" class="larg-link">Create Config</a>
                </button>
            </div>
            <div class="col-md-4">
                <button class="larg-btn">
                    <a href="/buildconfig/" class="larg-link">Build Config</a>
                </button>
            </div>
            <div class="col-md-4">
                <button class="larg-btn">
                    <a href="/configscan/" class="larg-link">Config Scan</a>
                </button>
            </div>
            
        </div>
    </div>
    
{% endblock content %}