{% extends "layouts/base.html" %} {% load static %} {% load widget_tweaks %} 
{% block title %} Create Purchase {% endblock title %} 
{% block content %}
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-3">
        <h5>ID: <span>C515LM1W</span></h5>
      </div>
      <div class="col-sm-3">
        <h5>Date: <span>August'30 2023</span></h5>
      </div>
      <div class="col-sm-3">
        <h5>Account: <span>Mercury</span></h5>
      </div>
      <div class="col-sm-3">
        <h5>Requested By: <span>James Cameron</span></h5>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="dropdown purchase">
          <button
            class="dropdown-toggle purchase"
            type="button"
            data-toggle="dropdown"
          >
            Items
            <span class="purchase caret"></span>
          </button>
          <ul class="dropdown-menu purchase">
            <li>
              <form class="item-form">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <select class="form-control" id="name">
                      <option value="Net-Adapter">Net Adapter</option>
                      <option value="Memory-chip">Memory chip</option>
                      <option value="Integrator">Integrator</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="type">Type:</label>
                    <select class="form-control" id="type">
                      <option value="Semi-conductor">Semi conductor</option>
                      <option value="Resistor">Resistor</option>
                      <option value="Volter">Volter</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="link">Link:</label>
                    <input type="text" class="form-control" id="link" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <input type="text" class="form-control" id="description" />
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <button type="submit" class="global-btn">Submit</button>
                  </div>
                  <div class="form-group col-md-6">
                    <button type="submit" class="global-btn add-new-btn">
                      Add New+
                    </button>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div class="table-responsive">
      <table
        id="vendortable"
        class="table tablemanager customers-list table-bordered"
      >
        <thead>
          <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>QUANTITY</th>
            <th>LINK</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border">
            <td>Peter</td>
            <td>Net Adapter</td>
            <td>5</td>
            <td><a href="#">www.ust.com</a></td>
            <td>This is in need for outsourcing</td>
          </tr>
          <tr class="border">
            <td>Paul</td>
            <td>Net Adapter</td>
            <td>5</td>
            <td><a href="#">www.ust.com</a></td>
            <td>This is in need for outsourcing</td>
          </tr>
          <tr class="border">
            <td>Jack</td>
            <td>Net Adapter</td>
            <td>5</td>
            <td><a href="#">www.ust.com</a></td>
            <td>This is in need for outsourcing</td>
          </tr>
          <tr class="border">
            <td>Julius</td>
            <td>Net Adapter</td>
            <td>5</td>
            <td><a href="#">www.ust.com</a></td>
            <td>This is in need for outsourcing</td>
          </tr>
          <tr class="border">
            <td>Ceaser</td>
            <td>Net Adapter</td>
            <td>5</td>
            <td><a href="#">www.ust.com</a></td>
            <td>This is in need for outsourcing</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <label for="approverDetails">Approver Details:</label>
        <ul style="list-style-type: none">
          <li>Name: Aston Martin</li>
          <li>Role: Manager</li>
          <li>Location: New York,USA</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <button type="button" class="global-btn">Submit</button>
      </div>
      <div class="col-sm-4 text-right">
        <button type="button" class="global-btn">+Save Template</button>
      </div>
    </div>
  </div>
</div>

<script>
    (function (document) {
      "use strict";
  
      // Counter to generate unique IDs for cloned forms
      var formCounter = 0;
  
      // Reference to the last cloned form
      var lastClonedForm = null;
  
      // Attach the populateTable function to the form submission event using event delegation
      document.addEventListener("submit", function (event) {
        if (event.target.classList.contains("item-form")) {
          event.preventDefault();
          populateTable(event.target);
        }
      });
  
      // Attach the addNewFields function to the "Add New+" button click event
      document.addEventListener("click", function (event) {
        if (event.target.classList.contains("add-new-btn")) {
          addNewFields();
        }
      });
  
      function populateTable(form) {
        // Get the values from the form fields
        var itemName = form.querySelector("#name").value;
        var itemType = form.querySelector("#type").value;
        var itemQuantity = form.querySelector("#quantity").value;
        var itemLink = form.querySelector("#link").value;
        var itemDescription = form.querySelector("#description").value;
  
        // Create a new table row with the entered values
        var table = document.querySelector("#vendortable tbody");
        var newRow = table.insertRow(table.rows.length);
        var cells = [
          newRow.insertCell(0),
          newRow.insertCell(1),
          newRow.insertCell(2),
          newRow.insertCell(3),
          newRow.insertCell(4),
        ];
  
        // Populate the cells with the entered values
        cells[0].textContent = itemName;
        cells[1].textContent = itemType;
        cells[2].textContent = itemQuantity;
        cells[3].innerHTML = '<a href="' + itemLink + '">' + itemLink + "</a>";
        cells[4].textContent = itemDescription;
  
        // Clear the input fields
        form.querySelector("#name").value = "";
        form.querySelector("#type").value = "";
        form.querySelector("#quantity").value = "";
        form.querySelector("#link").value = "";
        form.querySelector("#description").value = "";
      }
  
      function addNewFields() {
        // Increment the formCounter to generate unique IDs
        formCounter++;
  
        // Clone the last cloned form or the initial form if there is no previous clone
        var formToClone = lastClonedForm ? lastClonedForm : document.querySelector(".item-form");
  
        // Clone the form and clear the input fields in the cloned form
        var clonedForm = formToClone.cloneNode(true);
        clonedForm.querySelectorAll("input").forEach(function (input) {
          // Generate unique IDs for input fields
          input.id = input.id + "-" + formCounter;
          input.value = "";
        });
  
        // Remove the submit and "Add New" buttons from the previous form
        var submitBtn = clonedForm.querySelector('.global-btn[type="submit"]');
        var addNewBtn = clonedForm.querySelector(".add-new-btn");
        submitBtn ? submitBtn.remove() :'';
        addNewBtn ? addNewBtn.remove() : '';
  
        // Append the cloned form to the list
        var dropdownMenu = document.querySelector("ul.dropdown-menu.purchase");
        dropdownMenu.appendChild(clonedForm);
  
        // Create a new div for buttons and append it below the cloned form
        var buttonsDiv = document.createElement("div");
        buttonsDiv.className = "form-row";
        buttonsDiv.innerHTML =
          '<div class="form-group col-md-6">' +
          '<button type="submit" class="global-btn">Submit</button>' +
          "</div>" +
          '<div class="form-group col-md-6">' +
          '<button type="button" class="global-btn add-new-btn">Add New+</button>' +
          "</div>";
  
        dropdownMenu.appendChild(buttonsDiv);
  
        // Update the reference to the last cloned form
        lastClonedForm = clonedForm;
      }
    })(document);
  </script>
  
  
  
{% endblock content %}
