{% extends "layouts/base.html" %}
{% load static %}

{% load widget_tweaks %}
{% block title %} Purchase {% endblock title %}


{% block content %}


<div class="card">
  <div class="card-header purchase-head col-md-12">
    <button class="larg-btn purchase" onclick="window.location.href='/createpurchase.html'">
      <a href="/createpurchase.html">Create Purchase request
        
      </a>
    </button>
    <button class="larg-btn purchase" onclick="window.location.href='viewrequest.html'"><a href="/viewrequest.html">View Active request</a></button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-left">History :</h4>
            <!-- <h3> -->
            <input
              id="searchbar"
              type="text"
              placeholder="Search by id..."
              class="col-9 form-control search-input"
              data-table="customers-list"
            />
            <!-- </h3> -->
          </div>
          <div class="card-body">
            <table
            id="vendortable"
            class="table tablemanager customers-list table-bordered"
          >
            <thead>
              <tr>
                <th>NAME</th>
                <th>TYPE</th>
                <th>QUANTITY</th>
                <th>LINK</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr class="border">
                <td>Net Adapter</td>
                <td>Semi-conductor</td>
                <td>5</td>
                <td><a href="#">www.ust.com</a></td>
                <td>This is in need for outsourcing</td>
              </tr>
              <tr class="border">
                <td>Memory chip</td>
                <td>Power grid</td>
                <td>5</td>
                <td><a href="#">www.ust.com</a></td>
                <td>This is in need for outsourcing</td>
              </tr>
              <tr class="border">
                <td>Integrator</td>
                <td>Adapter</td>
                <td>5</td>
                <td><a href="#">www.ust.com</a></td>
                <td>This is in need for outsourcing</td>
              </tr>
              <tr class="border">
                <td>Net Adapter</td>
                <td>Power grid</td>
                <td>5</td>
                <td><a href="#">www.ust.com</a></td>
                <td>This is in need for outsourcing</td>
              </tr>
              <tr class="border">
                <td>Memory board</td>
                <td>Electronics</td>
                <td>5</td>
                <td><a href="#">www.ust.com</a></td>
                <td>This is in need for outsourcing</td>
              </tr>
            </tbody>
          </table>
              <a href="/viewtemplate.html" class="card-link purchase-link">View templates</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}