{% extends "layouts/base.html" %}
{% load static %}

{% load widget_tweaks %}
{% block title %} Home {% endblock title %}


{% block content %}


<div class="card">
  <div class="card-header purchase-head">
    <button class="larg-btn">Create Purchase request</button>
    <button class="larg-btn">View Active request</button>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">View templates</a>
    <h5 class="mt-4">History:</h5>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="global-btn" type="button">Search</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}