{% extends "layouts/base.html" %} 
{% load static %} 
{% load widget_tweaks %} 
{% block title %} Purchase {% endblock title %} 
{% block content %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <div style="color:#190e4f; font-style: bold; font-size: 3rem; border-bottom: 1px solid #190e4f;">View Quotation Requests</div>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <table class="table tablemanager table-bordered">
                        <thead>
                          <tr>
                            <th>
                              <input type="checkbox" id="selectAll" style="position: relative; top: 2px;" onclick="selectAllItems(this)">
                              <label for="selectAll" style="color: #fff; line-height: 0;">Select All</label>
                            </th>
                            <th>Vendor ID</th>
                            <th>Vendor Names</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725301</td>
                            <td>Krish</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725302</td>
                            <td>Mcghan</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725303</td>
                            <td>Williams</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725304</td>
                            <td>Rishi</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725305</td>
                            <td>Krish</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725306</td>
                            <td>Mcghan</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725307</td>
                            <td>Williams</td>
                          </tr>
                          <tr>
                            <td><input type="checkbox" class="itemCheckbox"></td>
                            <td>725308</td>
                            <td>Rishi</td>
                          </tr>
                          <tr>
                            <td colspan="3">
                              <button class="global-btn">Submit</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
            </div>
            <div class="col-md-6">
                <table class="table table-manager table-bordered">
                    <thead>
                      <tr>
                        <th><strong>Attribute</strong></th>
                        <th><strong>Requested Item</strong></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>Net Adapter</td>
                      </tr>
                      <tr>
                        <td>Type</td>
                        <td>Memory chip</td>
                      </tr>
                      <tr>
                        <td>Quantity:</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>Link</td>
                        <td><a href="#">www.netadapter.com</a></td>
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td>This product is in need of validation and containerization.</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        
      </div>
      
      
    </div>
  </div>
</div>
<script>
    function selectAllItems(source) {
      var checkboxes = document.querySelectorAll('.itemCheckbox');
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>
{% endblock content %}
