{% extends "layouts/base.html" %}
{% load static %}

{% load widget_tweaks %}
{% block title %} Home {% endblock title %}


{% block content %}

        <div class="btn-content">
        <div class="row">
            <div class="col-md-6">
                <button class="larg-btn">
                    <a href="#" class="larg-link">Current Month</a>
                </button>
            </div>
            <div class="col-md-6">
                <button class="larg-btn">
                    <a href="#" class="larg-link">Last Month</a>
                </button>
            </div>
        </div>
    </div>
    
    
{% endblock content %}