{% extends "layouts/base.html" %} 
{% load static %} 
{% load widget_tweaks %} 
{% block title %} View Purchase Request {% endblock title %} 
{% block content %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <div style="color:#190e4f; font-style: bold; font-size: 3rem; border-bottom: 1px solid #190e4f;">View Request</div>
    </div>
    <div class="card-body">
      <table
      id="vendortable"
      class="table tablemanager customers-list table-bordered"
    >
      <thead>
        <tr>
          <th>NAME</th>
          <th>TYPE</th>
          <th>QUANTITY</th>
          <th>LINK</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border">
          <td>Net Adapter</td>
          <td>Semi-conductor</td>
          <td>5</td>
          <td><a href="#">www.ust.com</a></td>
          <td>This is in need for outsourcing</td>
        </tr>
        <tr class="border">
          <td>Memory chip</td>
          <td>Power grid</td>
          <td>5</td>
          <td><a href="#">www.ust.com</a></td>
          <td>This is in need for outsourcing</td>
        </tr>
        <tr class="border">
          <td>Integrator</td>
          <td>Adapter</td>
          <td>5</td>
          <td><a href="#">www.ust.com</a></td>
          <td>This is in need for outsourcing</td>
        </tr>
        <tr class="border">
          <td>Net Adapter</td>
          <td>Power grid</td>
          <td>5</td>
          <td><a href="#">www.ust.com</a></td>
          <td>This is in need for outsourcing</td>
        </tr>
        <tr class="border">
          <td>Memory board</td>
          <td>Electronics</td>
          <td>5</td>
          <td><a href="#">www.ust.com</a></td>
          <td>This is in need for outsourcing</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

{% endblock content %}
