{% extends "layouts/base.html" %} 
{% load static %} 
{% load widget_tweaks %} 
{% block title %} Home {% endblock title %} 
{% block content %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <p class="req-header">Active Request :</p>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="vendortable" class="table tablemanager table-bordered customers-list">
          <thead>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Date</th>
              <th>Approver</th>
              <th>Remarks</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Approved</td>
              <td>August,21,2023</td>
              <td>Peter</td>
              <td>Good</td>
              <td><a href="#">www.template.com</a></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Approved</td>
              <td>August,21,2023</td>
              <td>Peter</td>
              <td>Good</td>
              <td><a href="#">www.template.com</a></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Approved</td>
              <td>August,21,2023</td>
              <td>Peter</td>
              <td>Good</td>
              <td><a href="#">www.template.com</a></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Approved</td>
              <td>August,21,2023</td>
              <td>Peter</td>
              <td>Good</td>
              <td><a href="#">www.template.com</a></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Approved</td>
              <td>August,21,2023</td>
              <td>Peter</td>
              <td>Good</td>
              <td><a href="#">www.template.com</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
