{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">

                {% csrf_token %}

                <div class="card-header">
                  <!-- <h5 class="title">Login</h5> -->

                  <h6 class="card-category">
                      {% if msg %}
                        <span class="text-danger">{{ msg }}</span>
                      {% else %}
                        Login with valid credentials
                      {% endif %}
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">

                      <div class="col-md-12 px-md-1">
                        <div class="form-group">
                          <!-- <label>Username</label> -->
                          {{ form.username }}
                        </div>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-md-12 px-md-1">
                        <div class="form-group">
                          <!-- <label>Password</label> -->
                          {{ form.password }}
                        </div>
                      </div>

                    </div>

                </div>
                <div class="card-footer">
                  <button type="submit" name="login" class="global-btn">Login</button>
                  <!-- &nbsp; &nbsp;
				  Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a> -->
          
					<!-- <div class="google-btn">
					  <div class="google-icon-wrapper">
						<img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
					  </div>
					  <a class="btn-text" href="/accounts/google/login/"><b>Sign in with google</b></a>
					</div> -->
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
